<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Quattrocento" rel="stylesheet">
    <link rel="shortcut icon" href="./img/fbavatar_1630400663387_6838396024049256103.png" type="image/x-icon">
</head>

<body>
    <h1>
        <%=text %>
    </h1>
    <header>
        <br>
        <nav class="navigation">
            <!-- <div class="navbar-container container">
            <div>
                <h1 class="navbar-brand"> Divya Gupta</h1>
              </div> -->
            <a href="#">Home</a>
            <a href="#about">About</a>
            <a href="#">Portfolio</a>
            <a href="#contact">Contact</a>
            <!-- </div> -->
        </nav>
    </header>
    <section class="home">
        <div class="content">
            <h1>Hi, I'm <span> Divya Gupta</span></h1>
            <p> Web Developer</p>
            <p><br><br><br></p>
            <div class="btn-group">
                <a href="#">Hire Me</a>
                <a href="#">See Projects</a>
            </div>
            <div class="angle-down-icon">
                <a href="#about"><i class="fas fa-angle-down"></i></a>
            </div>
        </div>
        <div class="image-container">
            <img src="https://i.pinimg.com/736x/4a/79/f2/4a79f2017ec7a9e39f39d0065b9f4556.jpg" alt="Profile Image">
        </div>
    </section>

    <section class="about" id="about">
        <div class="container">
            <div class="about-content">
                <div class="left-content">
                    <div>
                        <h1 class="about-heading">About Me</h1>
                    </div>
                    <img src="https://t3.ftcdn.net/jpg/06/43/68/64/360_F_643686482_wdZr9fJEnrp6MwQcBtxKRpH9U4BXOaNL.webp"
                        alt="image" />
                    <p>
                        I am 19 year old, B.voc(Web Designig) student studying at Kalidi College, University od
                        Delhi.<br>
                        I really enjoy solving problems as well as making things pretty and easy to use.
                    </p>
                    <div class="work-arrow">
                        <p>
                            <a href="#my-works">Check out my work <i class="fas fa-arrow-down"></i></a>
                        </p>
                    </div>
                </div>
                <div class="skills">
                    <div class="right-content">
                        <div>
                            <h1 class="skills-heading">My Skills</h1>
                        </div>
                        <div class="skills-bar">
                            <div class="bar">
                                <div class="info">
                                    <span>HTML</span>
                                </div>
                                <div class="progress-line"><span class="html"></span></div>
                                <div class="bar">
                                    <div class="info">
                                        <span>CSS</span>
                                    </div>
                                    <div class="progress-line"><span class="css"></span></div>
                                    <div class="bar">
                                        <div class="info">
                                            <span>JAVASCRIPT</span>
                                        </div>
                                        <div class="progress-line"><span class="javascript"></span></div>
                                        <div class="bar">
                                            <div class="info">
                                                <span>PYTHON</span>
                                            </div>
                                            <div class="progress-line"><span class="python"></span></div>
                                            <div class="bar">
                                                <div class="info">
                                                    <span>DSA</span>
                                                </div>
                                                <div class="progress-line"><span class="dsa"></span></div>
                                            </div>
                                            <div class="info">
                                                <span>DBMS</span>
                                            </div>
                                            <div class="progress-line"><span class="dbms"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="my-works">
        <div class="portfolio">
            <div class="proj-heading">
                <h1>Portfolio</h1>
            </div>
            <div class="portfolio-content container">
                <div class="proj-1">
                    <img src="website.jpg">
                    <div class="proj1-details">
                        <i class="fab fa-html5"></i>
                        <i class="fab fa-css3-alt"></i>
                        <i class="fab fa-js"></i>
                        <i class="fab fa-java"></i>
                        <!-- <i class="fab fa-jdbc"></i> -->
                        <h2>Kalindi College Website Development <br> (Academic Project)</h2>
                        <p>Build Using HTML, CSS, Jsp, JAVA, MySQL, JDBC</p>
                        <p> Lead of Project <i>Kulanshu sharma</i> </p>
                        <button><a href="https://github.com/Kulanshu-sharma/Kalindi" target="blank">View source </a>
                        </button>
                        <!-- <button><a href="https://fervent-lamarr-2bc6cf.netlify.app/" target="blank">Try it Live <i
                  class="fas fa-external-link-alt"></i></a>
              </button> -->
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="contact" id="contact">
            <div class="container">
                <div class="contact-content">
                    <h2>Contact Me</h2>
                    <p class="mail">
                        Get in touch with me <i class="fas fa-arrow-right"></i> itsmedivya0405@gmail.com
                    </p>
                    <p class="links">Or find me on:</p>
                    <br>

                    <a href="https://www.linkedin.com/in/divya-gupta-9262b82a2"><i class="fa-brands fa-linkedin-in">
                        </i></a>
                    <a href=""><i class="fa-brands fa-facebook-f"> </i></a>
                    <a href="https://github.com/DivyaGupta04"><i class="fa-brands fa-github"> </i></a>
                    <a href="https://hub.docker.com/u/itsmedivya0405"><i class="fa-brands fa-docker"> </i></a>
                </div>
            </div>
        </div>

    </section>

</body>

</html>